<p>home works!!</p>

<main>
    <mat-card class="card" *ngFor="let news of allNews">
        <img mat-card-image class="card_img" src={{news.image_url}} alt="Photo of a Shiba Inu">
        <div class="card_text">
            <mat-card-header>
                <mat-card-subtitle>
                    <img class="card_calendar" src="assets/calendar.svg" alt=""> 
                    {{news.published_at | date }}
                </mat-card-subtitle>
                <mat-card-title>
                    {{ news.title | slice:0:50 }}{{ news.title .length > 50 ? '...' : '' }}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                {{ news.summary | slice:0:100 }}{{ news.summary .length > 100 ? '...' : '' }}
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="button1">
                    Read more
                    <img class="card_arrow" src="assets/Arrow - Right.svg" alt="">
                </button>
            </mat-card-actions>
        </div>
    </mat-card>
</main>