@import '/src/styles.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.container {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    justify-content: space-between;
    width: 100%;
    max-width: 1290px;
    margin-left: 5px;
}

.material_icon {
    font-family: 'Material Icons' !important;
}

input {
    display: flex;
    margin-top: 10px;
    width: 600px;
    height: 50px;
    padding-top: auto;
    padding-left: 60px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.05);
    color: #575757;
    font-family: $font_montserrat;
    font-size: 16px;
    font-weight: 400;
}

input:focus {
    outline-width: 0;
}

.input-with-icon {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    color: #575757;
}

p {
    color: $color_black;
    font-family: $font_montserrat;
    font-size: 16px;
    font-weight: 600;
    margin-top: 50px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;
    max-width: 1290px;
    margin: 0px 5px;
    padding-bottom: 40px;
}

.card {
    width: 400px;
    height: 530px;
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
    margin-top: 45px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.05);

    .card_img {
        width: 400px;
        height: 217px;
        object-fit: cover;
    }

    .card_arrow {
        width: 12px;
        height: 10px;
    }

    .card_calendar {
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }

    .card_text {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
        height: 96px;
        overflow: hidden;


        mat-card-header {
            padding-top: 0;
        }

        mat-card-subtitle {
            margin-top: 18px;
            font-size: 14px;
            line-height: 21px;
            font-family: $font_montserrat;
            display: flex;
            align-items: center;

        }

        mat-card-title {
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            font-family: $font_montserrat;
            margin-top: 25px;
            height: 58px;
            overflow: hidden;
        }

        mat-card-content {
            font-family: $font_montserrat;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin-top: 20px;
            height: 99px;
            overflow: hidden;
        }
    }
}


.button1 {
    @include button;
}

@media (max-width:1300px) {
    main {
        justify-content: center;
    }

    .card {
        margin: 10px 10px;
    }
}

@media (max-width:768px) {
    main {
        flex-direction: column;
        justify-content: center;
    }

    input {
        width: 300px;
    }

    .card {
        width: 300px;
    }

    .card_img {
        width: 300px !important;
        // height: 170px;
        object-fit: contain;

    }
}